<div class="main-menu-ovrl main-menu-ovrl-hugeinc js-main-menu-ovrl">
    <i class="fa fa-times main-menu-ovrl-close js-main-menu-close" style='margin-left: 5px; font-size:30px;'></i>
    <nav>
        <ul>
            {{#foreach navigation}}
                <li style='font-size: 42px; padding-bottom:10px;'>
                    <a href="{{url absolute="true"}}">{{label}}</a>
                </li>
            {{/foreach}}
        </ul>
    </nav>
</div>